<ion-header>
	<ion-navbar>
		<ion-title>Shopping Bag</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>
	
	<h2 *ngIf="!bag.length">
		Your shopping bag is empty.
	</h2>
	<div *ngIf="bag.length">
		<ion-list>
			<ion-item *ngFor="let item of bag; let idx = index">
				<ion-avatar item-left>
					<img [src]="'assets/img/' + item.imgUrl">
				</ion-avatar>
				<h2>{{item.name}}</h2>
				<p>{{item.price}}&#8362;</p>
				
				<button ion-button clear icon-only item-right (click)="onRemove(idx)">
					<ion-icon name="remove-circle"  color="mainbutton"></ion-icon>
				</button>
			</ion-item>
		</ion-list>
		<h2>
			Total : {{total | number : '1.2-2'}}&#8362;
		</h2>
	</div>
</ion-content>
